# TODO: Add Usage form http://v4-alpha.getbootstrap.com/components/scrollspy/#usage

# Scrollspy
# Scrollspy - Bootstrap 4
snippet scr
	<body data-spy="scroll" data-target="#${1:navbar-example}">
		${2:...}
		<div id="${1:navbar-example}">
			<ul class="nav nav-tabs" role="tablist">
				${3:...}
			</ul>
		</div>
		${2:...}
	</body>

